% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {platform_define, "^R15", 'gen_tcp_r15b_workaround'},
            {platform_define, "^(R14|R15|R16B-)", 'crypto_compatibility'},
            {platform_define, "^(R14|R15|R16|17|18|19|20|21|22)", new_crypto_unavailable},
            {platform_define, "^(R14|R15|R16B|17)", 'rand_mod_unavailable'},
            {platform_define, "^(R14|R15|R16B|17)", 'sni_unavailable'},
            {platform_define, "^(R14|R15|R16)", 'map_unavailable'},
            {platform_define, "^(R14|R15|R16|17|18|19|20)", 'ssl_handshake_unavailable'},
            {platform_define, "^21-", 'otp_21'}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.
