% -*- mode: erlang -*-
{erl_opts, [fail_on_warning, debug_info]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{template_dir, "support/templates/"}.
{deps, [{proper, ".*",
    {git, "git://github.com/manopapad/proper", "master"}}]}.
