on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: test ${{matrix.otp}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    container:
      image: erlang:${{matrix.otp}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        otp:
          - "27"
          - "26"
          - "25"
          - "24"
          - "23"
          - "22"
          - "21"
          - "20"
          - "19"
          - "18"
    steps:
      - uses: actions/checkout@v3
      - run: make test
      - run: make edoc
      - run: REBAR=rebar make test
